name: CI

on:
  release:
    types: [published]
  push:
    branches: [ "main" ]

permissions: write-all

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install tools
        run: sudo apt update && sudo apt install -y build-essential unzip
      - name: Build
        run: ./build.sh
      - name: upload artifact
        uses: actions/upload-artifact@v4
        with:
          path: ${{ github.workspace }}/busybox-1.37.0-ohos-arm64.tar.gz
      - name: Upload release asset
        uses: softprops/action-gh-release@v2
        if: github.event_name == 'release'
        with:
          files: ${{ github.workspace }}/busybox-1.37.0-ohos-arm64.tar.gz
